@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* MOBILE VERSION */

body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
}


/*     header     */

.logo {
    max-width: 5em;
    float: left;
    padding: 10px;
}


/*     navigation     */

input {
    display: none;

}

label {
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 9px;
    float: right;
    font-size: 2em;

}

.menu {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu {
    max-height: 500px;
    transition: all 1.2s;
}

.menu ul {
    list-style: none;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    float: right;
}

.menu a {
    color: black;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

.menu a:hover {
    color: #302A49;
}


/*    homepage    */

.homepic {
    width: 200vw;
    height: auto;
    position: relative;
    overflow: hidden;
    /* right:60px*/
    margin: 0em 0em 0em -20em
}


.dots img {
    padding-top: 5em;
    width: 70vw;
    margin: auto;
    display: block;


}

.welcome-text {
    position: absolute;
    display: block;
    top: 10%;
    left: 10%;
    font-size: 3em;
    color: white;
}

.tiril {
    padding: 5em 2em 5em 2em;
    font-size: 1.2em;
    text-align: center;

}

.tiril img {
    width: 50vw;
    height: auto;

}

.passion {
    background-color: #302A49;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 5em 2em 5em 2em;
}

.passion img {
    width: 50vw;
    padding-bottom: 2em;
    padding-top: 2em;
}




/*       footer   */

footer {
    background-color: 8647BE;
    text-align: center;
    padding: 5em 2em 5em 2em;
}

footer p {
    color: gray;
    font-size: 0.8em;
    padding: 2em;
}

footer ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    word-spacing: 1em;

}

footer li {
    display: inline-block;

}

footer a {
    text-decoration: none;
    color: black;
    cursor: pointer;

}

/* TABLET VERSION */

@media all and (min-width:35em) {

    .homepic {
        width: 150%;
        height: auto;
        margin: 0em 0em 0em -15em
    }

    .tiril img {
        width: 30vw;
    }

    .passion img {
        width: 30vw;
    }

    .dots img {
        width: 60vw;
    }

    /*     navigation    */
    .menu {
        max-height: 3em;
    }

    .menu ul {
        width: 100%;
    }

    .menu li {
        display: inline-block;
        float: right;
        font-size: 1.2em;
    }

    label {
        display: none;
    }
}

/*  DESKTOP VERSION */

@media all and (min-width:50em) {

    /* grid */
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dots {
        display: none;
    }
    .top {
        grid-column: 1/-1;
    }

    .footer {
        grid-column: 1/-1;
    }

    .try1 {
        background-color: blue;

    }

    .try2 {
        background-color: yellow;

    }

    try3 {
        background-color: black;

    }
    .try4 {
        background-color: brown;

    }


    .homepic {
        width: 100%;
        height: auto;
        margin: 0em;

    }



    .tiril img {
        width: 15vw;
    }

    .passion img {
        width: 15vw;
    }

    .dots img {
        width: 30vw;
    }



}
