/* MOBILE VERSION */

@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
}

.logo {
    max-width: 5em;
    float: left;
    padding: 10px;
}

.homepic {
    width: 200vw;
    height: auto;
    position: relative;
    overflow: hidden;
    /* right:60px; */
}

.welcome-text {
    position: absolute;
    top: 1.5em;
    left: 50%;
    right: 50%;
    font-size: 3em;
    color: white;
}

.description {
    padding: 1em;
    font-size: 1.2em;
}


/*     navigation     */

input {
    display: none;

}

label {
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 9px;
    float: right;
    font-size: 2em;

}

nav {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ nav {
    max-height: 500px;
    transition: all 1.2s;
}

nav ul {
    list-style: none;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    float: right;
}

nav a {
    color: black;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

nav a:hover {
    color: #302A49;
}


/*       footer   */

footer {
    background-color: 8647BE;
    text-align: center;
}

footer ul {
    list-style: none;
    text-decoration: none;
}

footer li {
    display: inline-block;

}

footer a {
    text-decoration: none;
    color: black;

}

/* TABLET VERSION */

@media all and (min-width:35em) {

    .homepic {
        width: 150%;
        height: auto;
    }

    /*     navigation    */
    nav {
        max-height: 3em;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        display: inline-block;
        float: right;
    }

    label {
        display: none;
    }
}

/*  DESKTOP VERSION */

@media all and (min-width:50em) {
    .homepic {
        width: 100%;
        height: auto;
    }
}
