/* MOBILE VERSION */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
}

.logo {
    max-width: 5em;
    float: left;
    padding: 10px;
}

.homepic {
    width: 200vw;
    height: auto;
    position: relative;
    overflow: hidden;
    /* right:60px; */
}

.welcome-text {
    position: absolute;
    top: 1.5em;
    left: 50%;
    right: 50%;
    font-size: 3em;
    color: white;
}



/*     navigation     */

input {
    display: none;

}

label {
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 9px;
    float: right;
    font-size: 40px;
}

nav {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ nav {
    max-height: 500px;
    transition: all 1.2s;
}

nav ul {
    list-style: none;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    float: right;
}

nav a {
    color: gray;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

nav a:hover {
    color: purple;
}


/*       footer   */

footer {
    background-color: 8647BE;

}

footer ul {
    list-style: none;
    text-decoration: none;
}

footer li {
    display: inline-block;

}

footer a {
    text-decoration: none;
    color: black;

}

/* DESKTOP VERSION */

@media all and (min-width:30em) {

    .homepic {
        width: 100%;
        height: auto;
    }

    /*     navigation    */
    nav {
        max-height: 3em;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        display: inline-block;
        float: right;
    }

    label {
        display: none;
    }
}
